[Desktop Entry]
Type=Application
Name=Monitor Control
Comment=Control settings of external monitor
Exec=gddc
Icon=gddc
Terminal=false
Categories=Utility;
